.parent-div{
    background-image: url(donation1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size:100% 100%;
padding: 250px;

}
.pictur-text{
width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size:20px;
}

.link-button{
    text-decoration: none;
    
    background-color: orange;

    padding: 10px 10px;
    font-weight: 900;
    border-radius: 10px;
 border: none;
    
}
.color{
   font-weight: bolder;
    color: white;
}
.donate{
    display: flex;
    margin: auto;
    justify-content:space-around;
    width:800px;

        border:none;
        padding: 20px;
      }



   
   
.box-apply{

padding: 30px;
    }

    #red{


        font-weight: 700;
        border: 2px solid red;
        background-color:rgb(248, 239, 239);
        
    
    }
   
    
    .button{
        border: none;
    }
.background-1{
    background-color: rgb(241, 220, 234);
    width: 30%;
}
.background-2{
    background-color: rgb(224, 235, 235);
    width: 30%;
}
.background-3{
    background-color: rgb(227, 235, 208);
    width: 30%;

}
.donate-1{
    display: flex;
    margin: auto;
    justify-content:space-around;
    width:70%;

        border:none;
        padding: 20px;
      }
      .text-control{
        padding: 15px;
      }
      
      .orange-color{
        color: orange;
        }
        section{
            display: flex;
        }
        .half-width{
            width:40%;
            padding: 60px;
           
        
        }
        .link-button{
            text-decoration: none;
            background-image: linear-gradient(orange tomato);
            background-color: orange;
        
            padding: 10px 40px;
            color: white;
            font-weight: 700;
            border-radius: 10px;
        
            
        }
    
.footer-up{
    background-color: lemonchiffon;
    width: 600px;height: 100px;
    margin: auto;
    text-align:center;
    flex:0px;
}
.footer-up1{
    padding-top: 42px;
}
.subscribe{
    
    background-color: orange;
    

}

       
        .foot{
            background-color:black;
            position: absolute;
            height: 100px; width: 100%;
            padding: 40px 0;
            
          }
          .foot-text{
        text-align: center;
        color: white;
        
          }
          body{
            margin: 0;
          }
        
    
          
          
          